{% include "header.html" %}


  <!-- ======= About Section ======= -->
  <section id="about" class="about section-show" style="">

<h1 class="own" style="z-index: 0;">Bienvenue sur OrientBac - Votre guide d'orientation</h1>

    <!-- ======= About Me ======= -->
    <div class="about-me container countainerabout" style="margin-top:100px" >
        <div class=" containerabout row" data-aos="fade-left" >

          <div >
          <p style="font-size:32px;
font-family: 'Poppins', sans-serif;
color:rgba(255, 255, 255, 0.7)">
            <p style="font-size:32px;
font-family: 'Poppins', sans-serif;
color:rgba(255, 255, 255, 0.7)">Découvrez notre plateforme d'orientation, votre guide essentiel pour les choix post-bac. Trouvez les ressources nécessaires pour façonner votre avenir avec confiance et clarté.
          <p style="font-size:32px;
font-family: 'Poppins', sans-serif;
color:rgba(255, 255, 255, 0.7)">Explorez dès maintenant ! La bouttan vous attend juste en dessous</p>
          </div>

        </div>

      </div>
    <div class="contn" style="margin:50px">
      <a href="{{url_for('filiere')}}">
  <button class="btn"  >Secteurs</button>
        </a>
</div>
<!-- End About Me -->
  </section><!-- End About Section -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>


