{% include "header.html" %}
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-show">
  <div class="container" >
    <div class="row">
{% for key, sector in secteurs.sectors.items() %}
<div class="col-sm-6 col-md-3 mb-4" onclick="window.location='{{ url_for('school', sector_id=key) }}'" style="cursor: pointer;">
    <div class="icon-box">
        <div class="icon"><i class="{{ sector.icon }}"></i></div>
        <h4><a href="{{ url_for('school', sector_id=key) }}">{{ sector.name }}</a></h4>
    </div>
</div>
{% endfor %}



    </div>
  </div>
</section>
<script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
